.redactor-layer.redactor-layer_contrast {
    background: rgb(10,10,18);
    color:rgb(240,240,240);
}
.redactor-layer.redactor-layer_contrast h1,.redactor-layer.redactor-layer_contrast h2,.redactor-layer.redactor-layer_contrast h3,.redactor-layer.redactor-layer_contrast h4,.redactor-layer.redactor-layer_contrast h5,.redactor-layer.redactor-layer_contrast h6 {
    color:rgb(253,253,253);
}
.redactor-layer.redactor-layer_contrast code {
    background:rgb(60,60,60);
}
