.redactor-editor.redactor-editor_contrast {
    background: rgb(10,10,18);
    color:rgb(240,240,240);
}
.redactor-editor.redactor-editor_contrast h1,.redactor-editor.redactor-editor_contrast h2,.redactor-editor.redactor-editor_contrast h3,.redactor-editor.redactor-editor_contrast h4,.redactor-editor.redactor-editor_contrast h5,.redactor-editor.redactor-editor_contrast h6 {
    color:rgb(253,253,253);
}
.redactor-editor.redactor-editor_contrast code {
    background:rgb(60,60,60);
}
