/* #52 Ensure floated images stay in their WYM container */
.redactor-editor_wym div,
.redactor-editor_wym p,
.redactor-editor_wym ul,
.redactor-editor_wym ol,
.redactor-editor_wym table,
.redactor-editor_wym dl,
.redactor-editor_wym pre,
.redactor-editor_wym h1,
.redactor-editor_wym h2,
.redactor-editor_wym h3,
.redactor-editor_wym h4,
.redactor-editor_wym h5,
.redactor-editor_wym h6,
.redactor-editor_wym blockquote {
  overflow: hidden;
}

.redactor-editor.redactor-editor_wym {
  padding: 10px 7px 0 7px !important;
  background: #f6f6f6 !important;
}
.redactor-editor.redactor-editor_wym div,
.redactor-editor.redactor-editor_wym p,
.redactor-editor.redactor-editor_wym ul,
.redactor-editor.redactor-editor_wym ol,
.redactor-editor.redactor-editor_wym table,
.redactor-editor.redactor-editor_wym dl,
.redactor-editor.redactor-editor_wym pre,
.redactor-editor.redactor-editor_wym h1,
.redactor-editor.redactor-editor_wym h2,
.redactor-editor.redactor-editor_wym h3,
.redactor-editor.redactor-editor_wym h4,
.redactor-editor.redactor-editor_wym h5,
.redactor-editor.redactor-editor_wym h6,
.redactor-editor.redactor-editor_wym blockquote {
  margin-top: 0;
  margin-bottom: 5px !important;
  padding: 10px !important;
  border: 1px solid #e4e4e4 !important;
  background-color: #fff !important;
  z-index: 0;
}
.redactor-editor.redactor-editor_wym blockquote:before {
  content: '';
}
.redactor-editor.redactor-editor_wym img {
  position: relative;
  z-index: 1;
}
.redactor-editor.redactor-editor_wym div {
  border: 1px dotted #aaa !important;
}
.redactor-editor.redactor-editor_wym pre {
  border: 2px dashed #e4e4e4 !important;
  background-color: #f8f8f8 !important;
}
.redactor-editor.redactor-editor_wym ul,
.redactor-editor.redactor-editor_wym ol {
  padding-left: 2em !important;
}
.redactor-editor.redactor-editor_wym ul li ul,
.redactor-editor.redactor-editor_wym ol li ul,
.redactor-editor.redactor-editor_wym ul li ol,
.redactor-editor.redactor-editor_wym ol li ol {
  border: none !important;
}
